.dashboard-verifikator-layout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.dashboard-verifikator-container {
  background: #E9EEF6;
  flex: 1;
}

.dashboard-verifikator-title {
    margin-top: 60px;
    margin-left: 60px;
    margin-right: 60px;
    text-align: left;
    font-size:clamp(28px,5vw,45px);
    font-weight: 800;
    color: #1E293B;
    letter-spacing: 0.1px;
}

.dashboard-verifikator-description {
    margin-top: 20px;
    margin-left: 60px;
    margin-right: 60px;
    text-align: left;
    font-size:clamp(15px,2vw,18px);
    color: #4B5563;
    font-family: 'Poppins', sans-serif;
}

.menu-title-dashboard-verifikator {
    margin-top: 50px;
    margin-left: 60px;
    margin-right: 60px;
    text-align: left;
    font-size:clamp(28px,5vw,45px);
    font-weight: 800;
    color: #1E293B;
    letter-spacing: 0.1px;
}

.card-container-dashboard-verifikator {
    /* display: grid;
    grid-template-columns:repeat(auto-fit,minmax(280px, 1fr));
    gap: 50px;
    margin-left:60px;
    margin-right: 150px;
    margin-top:20px;
    margin-bottom: 20px; */

    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin: 20px 60px;
}

.menu-card-dashboard-verifikator {
    width: 420px;
    min-height:240px;
    background: #FFFFFF;
    border-radius: 20px;
    padding: 25px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.menu-card-dashboard-verifikator:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.15);
}

.card-header-dashboard-verifikator {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size:clamp(18px,2vw,20px);
    color: #1E293B;
}

.check-icon-dashboard-verifikator {
    font-size:clamp(28px,3vw,35px);
    color: #2463EB;
}

.history-icon-dashboard-verifikator {
    font-size:clamp(28px,3vw,35px);
    color: #16A34A;
}

.card-content-dashboard-verifikator {
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-size:clamp(14px,2vw,16px);
    color: #4B5563;
    text-align: justify;
    flex: 1;
}

.detail-btn-dashboard-verifikator {
    margin-top: auto;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #FFFFFF;
    padding: 10px;
    background: #2463EB;
    border-radius: 10px;
    cursor: pointer;
}

.detail-btn-dashboard-verifikator:hover {
  background: #1D4ED8;
}