.page-menu-lihat-detail-layout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.back-btn-lihat-detail {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 15px;
  background: none;
  border: none;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #1E293B;
}

.back-icon-lihat-detail {
  font-size: 35px;
  color: #1E293B;
}

.navbar-menu-lihat-detail {
  height: 110px;
  background: #FFFFFF;
  display: flex;
  position: relative;
  align-items: center;
  padding: 0 60px;
}

.navbar-menu-lihat-detail h1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  font-size: 40px;
  font-weight: 800;
  letter-spacing: 0.1px;
  color: #1E293B;
}

.ringkasan-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin: 20px 60px;
}

.ringkasan-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ringkasan-right {
  display: flex;
}

.ringkasan-title {
  font-size: 38px;
  font-weight: 800;
  letter-spacing: 0.1px;
  color: #1E293B;
  display: flex;
  justify-content: flex-start;
  margin: 0;
}

.summary-cards {
  display: flex;
  gap: 30px;
  margin-top: 20px;
}

.summary-card {
  width: 315px;
  height: 150px;
  background: #E9EEF6;
  border: 1px solid #2463EB;
  border-radius: 15px;
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 30px;
}

.card-icon {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: #2563eb;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.people-icon-lihat-detail,
.clock-icon-lihat-detail {
  font-size: 50px;
  color: #FFFFFF;
}

.card-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #1E293B;
}

.card-label {
  margin: 0;
}

.card-value {
  margin: 0;
  font-size: 75px;
  font-weight: 800;
  line-height: 1;
}

.progress-card {
  width: 220px;
  height: 220px;
  background: rgba(36, 99, 235, 0.22);
  border: 1px solid #2463EB;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
}

.chart-title {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  color: #1E293B;
  font-family: "Poppins", sans-serif;
}

.donut-wrapper {
  width: 110px;
  height: 110px;
  margin-top: 18px;
}

.donut-wrapper .CircularProgressbar-text {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}

.progress-text {
  margin-top: 18px;
  font-size: 15px;
  font-weight: 500;
  color: #1E293B;
  font-family: "Poppins", sans-serif;
}

.daftar-hadir-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 60px 0 60px;
}

.daftar-hadir-title {
  display: flex;
  justify-content: flex-start;
  font-size: 38px;
  font-weight: 800;
  letter-spacing: 0.1px;
  color: #1E293B;
}

.search-filter-lihat-detail {
  display: flex;
  align-items: center;
  gap: 40px;
}

.search-bar-lihat-detail {
  width: max-content;
  height: 48px;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #E9EEF6;
}

.search-bar-input-lihat-detail {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  color: #1E293B;
  margin-left: 8px;
  outline: none;
  border: none;
  background: transparent;
  width: 400px;
}

.search-bar-input-lihat-detail::-webkit-search-cancel-button {
  margin-left: 20px;
  cursor: pointer;
}

.search-icon-lihat-detail {
  font-size: 27px;
  color: #1E293B;
}

.search-bar-input-lihat-detail::placeholder {
  color: #E9EEF6;
  font-size: 20px;
}

.filter-dropdown-lihat-detail-wrapper {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
}

.filter-dropdown-lihat-detail {
  width: 180px;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 2px solid #E9EEF6;
  border-radius: 10px;
  cursor: pointer;
  box-sizing: border-box;
  background: #FFFFFF;
}

.filter-content-lihat-detail {
  display: flex;
  align-items: center;
  gap: 8px;
}

.filter-icon-lihat-detail {
  font-size: 27px;
  color: #1E293B;
}

.filter-content-lihat-detail span {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #1E293B;
}

.dropdown-icon-lihat-detail {
  font-size: 27px;
  color: #1E293B;
}

.filter-menu-riwayat-verifikasi-lihat-detail {
  position:absolute;
  top:55px;
  right:0;
  width:max-content;
  background:#FFFFFF;
  border:2px solid #E9EEF6;
  border-radius:10px;
  padding:20px 25px 10px 25px;
  z-index:999;
}

.filter-menu-riwayat-verifikasi-lihat-detail h3 {
  margin:0 0 18px;
  text-align:left;
  font-size:20px;
  font-weight:700;
  color:#1E293B;
}

.filter-menu-riwayat-verifikasi-lihat-detail label{
  display:flex;
  align-items:center;
  gap:10px;
  margin-bottom:10px;
  font-size:16px;
  font-family:"Poppins", sans-serif;
  color:#1E293B;
  cursor:pointer;
}

.filter-menu-riwayat-verifikasi-lihat-detail input[type="checkbox"]{
  width:19px;
  height:19px;
  cursor:pointer;
}

.tabel-riwayat-verifikasi {
  font-family: "Poppins", sans-serif;
  border-collapse: collapse;
  margin: 10px 60px;
}

.tabel-riwayat-verifikasi thead tr {
  color: #1E293B;
  text-align: center; 
  font-weight: 700;
  font-size: 20px;
}

.tabel-riwayat-verifikasi th {
  text-align: center;
}

.sort-thead-riwayat-verifikasi {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: #1E293B;
}

.sort-icon-riwayat-verifikasi {
  font-size: 22px;
}

.tabel-riwayat-verifikasi th,
.tabel-riwayat-verifikasi td {
  padding: 5px 15px;
}

.tabel-riwayat-verifikasi tbody {
  font-size: 14px;
}

.tabel-riwayat-verifikasi tbody tr {
  color: #1E293B;
}

.tabel-riwayat-verifikasi tbody tr:nth-of-type(odd) {
  background-color: rgba(36, 99, 235, 0.22);
}

.kolom-nama-riwayat-verifikasi {
  text-align: left;
  width: 30%;
}

.kolom-nim-riwayat-verifikasi {
  width: 10%;
}

.kolom-waktu-scan-riwayat-verifikasi {
  width: 15%;
}

.kolom-jarak-lokasi-riwayat-verifikasi {
  width: 15%;
}

.kolom-status-presensi-riwayat-verifikasi {
  text-align: center;
  width: 10%;
}

.kolom-waktu-verifikasi-riwayat-verifikasi {
  width: 20%;
}

.status-lokasi-riwayat-verifikasi {
  display: inline-block;
  padding: 5px 12px;
  border: none;
  border-radius: 7px;
  font-weight: 600;
  width: 70px;
}

.dekat {
  background-color: #DCFCE7;
}

.sedang {
  background-color: #FEF3C7;
}

.badge-status-presensi {
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 12px;
  font-weight: 600;
  color: #1E293B;
  border: none;
  border-radius: 7px;
  margin: 0 auto;
}

.pending {
  background: #FEF3C7;
}

.valid {
  background: #DCFCE7;
}

.invalid {
  background: #FEE2E2;
}

.pagination-wrapper-riwayat-verifikasi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 60px 15px 60px;
}

.page-description-riwayat-verifikasi {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  color: #1E293B;
  margin: 0;
}

.pagination-riwayat-verifikasi {
  display: flex;
}

.pagination-riwayat-verifikasi button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  border: 1px solid #2463EB;
  color: #1E293B;
  width: 35px;
  height: 35px;
  background: #FFFFFF;
}

.pagination-riwayat-verifikasi button:not(:first-child) {
  border-left: none;
}

.pagination-riwayat-verifikasi button:first-child {
  border-radius: 7px 0 0 7px;
  width: 45px;
}

.pagination-riwayat-verifikasi button:last-child {
  border-radius: 0 7px 7px 0;
  width: 45px;
}

.pagination-riwayat-verifikasi button.active {
  background-color: rgba(36, 99, 235, 0.22);
}

.pagination-riwayat-verifikasi button:hover:not(.active) {
  background-color: #E9EEF6;
}

.pagination-riwayat-verifikasi button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.previous-icon-riwayat-verifikasi,
.next-icon-riwayat-verifikasi {
  font-size: 18px;
}