.page-menu-verifikasi-presensi-layout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.back-btn-verifikasi-presensi {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 15px;
  background: none;
  border: none;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #1E293B;
}

.back-icon-verifikasi-presensi {
  font-size: 35px;
  color: #1E293B;
}

.navbar-menu-verifikasi-presensi {
  height: 110px;
  background: #FFFFFF;
  display: flex;
  position: relative;
  align-items: center;
  padding: 0 60px;
}

.navbar-menu-verifikasi-presensi h1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  font-size: 40px;
  font-weight: 800;
  letter-spacing: 0.1px;
  color: #1E293B;
}

.daftar-seminar-wrapper-verifikasi-presensi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-left: 60px;
  margin-right: 60px;
}

.daftar-seminar-title-verifikasi-presensi {
  display: flex;
  justify-content: flex-start;
  font-size: 38px;
  font-weight: 800;
  letter-spacing: 0.1px;
  color: #1E293B;
}

.search-filter-verifikasi-presensi {
  display: flex;
  align-items: center;
  gap: 40px;
}

.search-bar-verifikasi-presensi {
  width: max-content;
  height: 48px;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #E9EEF6;
}

.search-bar-input-verifikasi-presensi {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  color: #1E293B;
  margin-left: 8px;
  outline: none;
  border: none;
  background: transparent;
  width: 400px;
}

.search-bar-input-verifikasi-presensi::-webkit-search-cancel-button {
  margin-left: 20px;
  cursor: pointer;
}

.search-icon-verifikasi-presensi {
  font-size: 27px;
  color: #1E293B;
}

.search-bar-input-verifikasi-presensi::placeholder {
  color: #E9EEF6;
  font-size: 20px;
}

.filter-dropdown-verifikasi-presensi-wrapper {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
}

.filter-dropdown-verifikasi-presensi {
  width: 180px;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 2px solid #E9EEF6;
  border-radius: 10px;
  cursor: pointer;
  box-sizing: border-box;
  background: #FFFFFF;
}

.filter-content-verifikasi-presensi {
  display: flex;
  align-items: center;
  gap: 8px;
}

.filter-icon-verifikasi-presensi {
  font-size: 30px;
  color: #1E293B;
}

.filter-content-verifikasi-presensi span {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #1E293B;
}

.dropdown-icon-verifikasi-presensi {
  font-size: 30px;
  color: #1E293B;
}

.filter-tanggal-daftar-seminar {
  position:absolute;
  top:55px;
  right:0;
  width:max-content;
  display: flex;
  flex-direction: column; 
  padding:20px 25px 10px 25px;
  background:#FFFFFF;
  border:2px solid #E9EEF6;
  border-radius:10px;
  z-index:999;
  text-align: left;
}

.react-datepicker-popper {
  z-index: 9999 !important;
}

.react-datepicker {
  z-index: 9999 !important;
}

.filter-tanggal-daftar-seminar h3 {
  margin:0 0 18px;
  font-size:20px;
  font-weight:700;
  color:#1E293B;
}

.filter-tanggal-daftar-seminar label {
  display:flex;
  align-items:flex-start;
  gap:10px;
  margin-bottom:10px;
  font-size:16px;
  font-family:"Poppins", sans-serif;
  color:#1E293B;
  cursor:pointer;
}

.filter-tanggal-daftar-seminar input[type="checkbox"]{
  width:19px;
  height:19px;
  cursor:pointer;
  flex-shrink: 0;
  margin-top: 3px;
}

.judul-rentang-tanggal-daftar-seminar {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #1E293B;
}

.daftar-seminar-date-input {
  display:flex;
  align-items:center;
  border:2px solid #E9EEF6;
  border-radius:5px;
  margin-bottom:10px; 
}

.daftar-seminar-date-input span {
  width: 100px;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 700;
  color: #1E293B;
}

.daftar-seminar-date-input input::-webkit-calendar-picker-indicator{
  padding:0;
}

.datepicker-filter-daftar-seminar {
  border: none;
  outline: none;
  font-size: 16px;
  color: #1E293B;
  width: 100px;
}

.datepicker-filter-daftar-seminar::placeholder {
  color: #E9EEF6;
}

.seminar-list-verifikasi-presensi {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.loading-state-verifikasi-presensi,
.empty-state-verifikasi-presensi {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 600;
  font-style: italic;
  margin: 0;
}

.seminar-card-verifikasi-presensi {
  position: relative;
  display: flex;
  background: #E9EEF6;
  border-radius: 0 10px 10px 0;
  overflow: hidden;
  margin-left: 60px;
  margin-right: 60px;
}

.card-accent-verifikasi-presensi {
  width: 10px;
  background: #2563EB;
  flex-shrink: 0;
}

.card-content-verifikasi-presensi {
  flex: 1;
  padding: 20px 28px;
  text-align: left;
}

.card-header-verifikasi-presensi {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.nama-mahasiswa-verifikasi-presensi {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 800;
  color: #1E293B;
}

.judul-skripsi-verifikasi-presensi {
  margin-top: 10px;
  max-width: 900px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-style: italic;
  color: #1E293B;
}

.lihat-daftar-hadir-btn {
  border-radius: 7px;
  border: none;
  background: #2463EB;
  color: #FFFFFF;
  padding: 5px 5px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.lihat-daftar-hadir-btn:hover {
  background: #1D4ED8;
}

.informasi-seminar-verifikasi-presensi {
  margin-top: 10px;
  display: flex;
  gap: 15px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: #1E293B;
}

.dosen-info-verifikasi-presensi {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: #1E293B;
}

.dosen-info-verifikasi-presensi p {
  margin-top: 3px;
  margin-bottom: 0;
}

.separator-verifikasi-presensi {
  margin: 0 15px;
}