.page-menu-verifikator-lihat-daftar-hadir-layout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.back-btn-verifikator-lihat-daftar-hadir {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 15px;
  background: none;
  border: none;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #1E293B;
}

.back-icon-verifikator-lihat-daftar-hadir {
  font-size: 35px;
  color: #1E293B;
}

.navbar-menu-verifikator-lihat-daftar-hadir {
  height: 110px;
  background: #FFFFFF;
  display: flex;
  position: relative;
  align-items: center;
  padding: 0 60px;
}

.navbar-menu-verifikator-lihat-daftar-hadir h1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  font-size: 40px;
  font-weight: 800;
  letter-spacing: 0.1px;
  color: #1E293B;
}

.detail-seminar-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 100px;
  margin-top: 20px;
  margin-left: 60px;
  margin-right: 60px;
}

.left-content-detail-seminar {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content-seminar-verifikator-lihat-daftar-hadir {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
}

.nama-mahasiswa-verifikator-lihat-daftar-hadir {
  font-weight: 800;
  font-size: 35px;
  letter-spacing: 0.1px;
  color: #1E293B;
  text-align: left;
}

.jadwal-seminar-verifikator-lihat-daftar-hadir {
  display: flex;
  gap: 15px;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  color: #1E293B;
}

.status-badge-verifikator-lihat-daftar-hadir {
  padding: 3px 10px;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.status-badge-verifikator-lihat-daftar-hadir.sedang-berlangsung {
  background: #FEF3C7;
  border: 1px solid #FACC15;
  color: #1E293B;
}

.status-badge-verifikator-lihat-daftar-hadir.selesai {
  background: #DCFCE7;
  border: 1px solid #22C55E;
  color: #1E293B;
}

.status-badge-verifikator-lihat-daftar-hadir.belum-dimulai {
  background: #FEE2E2;
  border: 1px solid #EF4444;
  color: #1E293B;
}

.right-content-verifikator-lihat-daftar-hadir {
  width: 310px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-left: 100px;
}

.stat-card-verifikator-lihat-daftar-hadir {
  background: #E9EEF6;
  border-radius: 15px;
  padding: 32px;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.stat-content-verifikator-lihat-daftar-hadir {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  z-index: 2;
}

.stat-content-verifikator-lihat-daftar-hadir h3 {
  margin: 0;
  padding-top: 10px;
  font-size: 18px;
  font-weight: 500;
  color: #1E293B;
  font-family: "Poppins", sans-serif;
}

.stat-content-verifikator-lihat-daftar-hadir h1 {
  margin-top: 15px;
  font-size: 75px;
  font-weight: 800;
  line-height: 1;
  color: #1E293B;
}

.stat-icon-wrapper-verifikator-lihat-daftar-hadir {
  display: flex;
  justify-content: center;
  align-items: center;
}

.people-icon-verifikator-lihat-daftar-hadir {
  position: absolute;
  right: -25px;
  bottom: -35px;;
  font-size: 180px;
  color: #7384A7;
  opacity: 0.2;
}

.daftar-hadir-wrapper-verifikator-lihat-daftar-hadir {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 60px 0 60px;
}

.daftar-hadir-title-verifikator-lihat-daftar-hadir {
  display: flex;
  justify-content: flex-start;
  font-size: 37px;
  font-weight: 800;
  letter-spacing: 0.1px;
  color: #1E293B;
}

.search-filter-verifikator-lihat-daftar-hadir {
  display: flex;
  align-items: center;
  gap: 40px;
}

.search-bar-verifikator-lihat-daftar-hadir {
  width: max-content;
  height: 48px;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #E9EEF6;
}

.search-bar-input-verifikator-lihat-daftar-hadir {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  color: #1E293B;
  margin-left: 8px;
  outline: none;
  border: none;
  background: transparent;
  width: 400px;
}

.search-bar-input-verifikator-lihat-daftar-hadir::-webkit-search-cancel-button {
  margin-left: 20px;
  cursor: pointer;
}

.search-icon-verifikator-lihat-daftar-hadir {
  font-size: 27px;
  color: #1E293B;
}

.search-bar-input-verifikator-lihat-daftar-hadir::placeholder {
  color: #E9EEF6;
  font-size: 20px;
}

.filter-dropdown-verifikator-lihat-daftar-hadir-wrapper {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
}

.filter-dropdown-verifikator-lihat-daftar-hadir {
  width: 180px;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #E9EEF6;
  border-radius: 10px; 
  background: #FFFFFF;
  cursor: pointer;
  padding: 10px 15px;
  font-family: "Poppins", sans-serif;
}

.filter-content-verifikator-lihat-daftar-hadir {
  display: flex;
  align-items: center;
  gap: 8px;
}

.filter-icon-verifikator-lihat-daftar-hadir {
  font-size: 27px;
  color: #1E293B;
}

.filter-content-verifikator-lihat-daftar-hadir span {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #1E293B;
}

.dropdown-icon-verifikator-lihat-daftar-hadir {
  font-size: 27px;
  color: #1E293B;
}

.filter-menu-verifikator-lihat-daftar-hadir {
  position:absolute;
  top:55px;
  right:0;
  width:180px;
  background:#FFFFFF;
  border:2px solid #E9EEF6;
  border-radius:10px;
  padding:20px 25px 10px 25px;
  z-index:999;
}

.filter-menu-verifikator-lihat-daftar-hadir h3 {
  margin:0 0 18px;
  text-align:left;
  font-size:20px;
  font-weight:700;
  color:#1E293B;
}

.filter-menu-verifikator-lihat-daftar-hadir label{
  display:flex;
  align-items:center;
  gap:10px;
  margin-bottom:10px;
  font-size:16px;
  font-family:"Poppins", sans-serif;
  color:#1E293B;
  cursor:pointer;
}

.filter-menu-verifikator-lihat-daftar-hadir input[type="checkbox"]{
  width:19px;
  height:19px;
  cursor:pointer;
}

.tabel-daftar-hadir-verifikator {
  font-family: "Poppins", sans-serif;
  border-collapse: collapse;
  margin: 10px 60px;
}

.loading-state-verifikasi-presensi-lihat-daftar-hadir,
.empty-state-verifikasi-presensi-lihat-daftar-hadir {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;
  font-style: italic;
  margin: 0;
}

.tabel-daftar-hadir-verifikator thead tr {
  color: #1E293B;
  text-align: center; 
  font-weight: 700;
  font-size: 20px;
}

.tabel-daftar-hadir-penyelenggara-seminar th {
  text-align: center;
}

.sort-thead-verifikator-lihat-daftar-hadir {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: #1E293B;
}

.sort-icon-verifikator-lihat-daftar-hadir {
  font-size: 22px;
}

.tabel-daftar-hadir-verifikator th,
.tabel-daftar-hadir-verifikator td {
  padding: 5px 15px;
}

.tabel-daftar-hadir-verifikator tbody {
  font-size: 14px;
}

.tabel-daftar-hadir-verifikator tbody tr {
  color: #1E293B;
}

.tabel-daftar-hadir-verifikator tbody tr:nth-of-type(odd) {
  background-color: rgba(36, 99, 235, 0.22);
}

.kolom-nama-verifikator-lihat-daftar-hadir {
  text-align: left;
  width: 35%;
}

.kolom-nim-verifikator-lihat-daftar-hadir {
  width: 10%;
}

.kolom-waktu-scan-verifikator-lihat-daftar-hadir {
  width: 20%;
}

.kolom-jarak-lokasi-verifikator-lihat-daftar-hadir {
  width: 15%;
}

.kolom-status-presensi-verifikator-lihat-daftar-hadir {
  text-align: center;
  width: 20%;
}

.status-lokasi-verifikator-lihat-daftar-hadir {
  display: inline-block;
  padding: 5px 12px;
  border: none;
  border-radius: 7px;
  font-weight: 600;
  width: 70px;
}

.dekat {
  background-color: #DCFCE7;
}

.sedang {
  background-color: #FEF3C7;
}

.custom-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  min-width: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 12px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  font-size: 14px;
  color: #1E293B;
}

.dropdown-button.pending {
  background: #FEF3C7;
}

.dropdown-button.valid {
  background: #DCFCE7;
}

.dropdown-button.invalid {
  background: #FEE2E2;
}

.dropdown-button span {
  font-weight: 600;
}

.status-dropdown-icon {
  font-size: 18px;
}

.status-dropdown-menu {
  position:absolute;
  top:115%;
  left:0;
  width:100%;
  background:#FFFFFF;
  border: 2px solid #E9EEF6;
  border-radius:7px;
  overflow:hidden;
  z-index:1000;
  font-weight: 600;
}

.status-dropdown-item{
  padding: 5px 12px;
  cursor:pointer;
  transition:.2s;
}

.status-dropdown-item:hover{
  background:#F3F4F6;
}

.pagination-wrapper-verifikator-lihat-daftar-hadir {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 60px;
}

.page-description-verifikator-lihat-daftar-hadir {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  color: #1E293B;
  margin: 0;
}

.pagination-verifikator-lihat-daftar-hadir {
  display: flex;
}

.pagination-verifikator-lihat-daftar-hadir button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  border: 1px solid #2463EB;
  color: #1E293B;
  width: 35px;
  height: 35px;
  background: #FFFFFF;
}

.pagination-verifikator-lihat-daftar-hadir button:not(:first-child) {
  border-left: none;
}

.pagination-verifikator-lihat-daftar-hadir button:first-child {
  border-radius: 7px 0 0 7px;
  width: 45px;
}

.pagination-verifikator-lihat-daftar-hadir button:last-child {
  border-radius: 0 7px 7px 0;
  width: 45px;
}

.pagination-verifikator-lihat-daftar-hadir .active {
  background-color: rgba(36, 99, 235, 0.22);
}

.pagination-verifikator-lihat-daftar-hadir button:hover:not(.active):not(:disabled) {
  background-color: #E9EEF6;
}

.pagination-verifikator-lihat-daftar-hadir button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.previous-icon-verifikator-lihat-daftar-hadir,
.next-icon-verifikator-lihat-daftar-hadir {
  font-size: 18px;
}