.page-menu-riwayat-verifikasi-layout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.back-btn {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 15px;
  background: none;
  border: none;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #1E293B;
}

.back-icon {
  font-size: 35px;
  color: #1E293B;
}

.navbar-menu-riwayat-verifikasi {
  height: 110px;
  background: #FFFFFF;
  display: flex;
  position: relative;
  align-items: center;
  padding: 0 80px;
}

.navbar-menu-riwayat-verifikasi h1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  font-size: 40px;
  font-weight: 800;
  letter-spacing: 0.1px;
  color: #1E293B;
}

.daftar-seminar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-left: 90px;
  margin-right: 90px;
}

.daftar-seminar-title {
  display: flex;
  justify-content: flex-start;
  font-size: 40px;
  font-weight: 800;
  letter-spacing: 0.1px;
  color: #1E293B;
}

.search-filter {
  display: flex;
  align-items: center;
  gap: 40px;
}

.search-bar {
  width: max-content;
  height: 53px;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #E9EEF6;
}

.search-bar-input {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  color: #1E293B;
  margin-left: 8px;
  outline: none;
  border: none;
  background: transparent;
  width: 400px;
}

.search-bar-input::-webkit-search-cancel-button {
  margin-left: 20px;
  cursor: pointer;
}

.search-icon {
  font-size: 30px;
  color: #1E293B;
}

.search-bar-input::placeholder {
  color: #E9EEF6;
  font-size: 20px;
  font-weight: 500;
}

.filter-dropdown {
  width: 180px;
  height: 53px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 2px solid #E9EEF6;
  border-radius: 10px;
  cursor: pointer;
  box-sizing: border-box;
}

.filter-content {
  display: flex;
  align-items: center;
  gap: 8px;
}

.filter-icon {
  font-size: 30px;
  color: #1E293B;
}

.filter-content span {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #1E293B;
}

.dropdown-icon {
  font-size: 30px;
  color: #1E293B;
}

.seminar-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.seminar-card {
  position: relative;
  display: flex;
  background: #E9EEF6;
  border-radius: 0 10px 10px 0;
  overflow: hidden;
  margin-left: 90px;
  margin-right: 90px;
}

.card-accent {
  width: 10px;
  background: #2563EB;
  flex-shrink: 0;
}

.card-content {
  flex: 1;
  padding: 15px 28px;
  text-align: left;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.nama-mahasiswa {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 800;
  color: #1E293B;
}

.informasi-seminar {
  margin-top: 5px;
  display: flex;
  gap: 15px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: #1E293B;
}

.lihat-detail-btn {
  border-radius: 7px;
  border: none;
  background: #2463EB;
  color: #FFFFFF;
  padding: 5px 5px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.lihat-detail-btn:hover {
  background: #1D4ED8;
}

.progress-verifikasi {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: #1E293B;
  margin-top: 20px;
}

.progress-verifikasi p {
  margin-top: 3px;
  margin-bottom: 0;
}

.angka-progress {
  margin: 0 5px;
}

.status-verifikasi {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  padding: 3px 8px;
  border-radius: 7px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: #1E293B;
}

.sedang-diproses {
  background: #FEF3C7;
  border: 1px solid #FACC15;
}

.selesai-diproses {
  background: #DCFCE7;
  border: 1px solid #16A34A;
}

.belum-diproses {
  background: #FEE2E2;
  border: 1px solid #EF4444;
}