.navbar {
  height: 110px;
  background: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

.navbar h1 {
  font-size: 40px;
  font-weight: 800;
  letter-spacing: 0.1px;
  color: #1E293B;
  margin-left: 60px;
}

.logout-btn {
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 10px 15px;
  background: #FFFFFF;
  border: 1px solid #E9EEF6;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #1E293B;
  transition: all 0.2s ease;
  margin-right: 60px;
}

.logout-btn:hover {
  background: #F8FAFC;
  border-color: #D2DEEF;
}

.logout-icon {
  font-size: 30px;
  color: #1E293B;
}