.page-menu-kelola-data-mahasiswa-layout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.back-btn-kelola-data-mahasiswa {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 15px;
  background: none;
  border: none;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #1E293B;
}

.back-icon-kelola-data-mahasiswa {
  font-size: 35px;
  color: #1E293B;
}

.navbar-menu-kelola-data-mahasiswa {
  height: 110px;
  background: #FFFFFF;
  display: flex;
  position: relative;
  align-items: center;
  padding: 0 60px;
}

.navbar-menu-kelola-data-mahasiswa h1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  font-size: 40px;
  font-weight: 800;
  letter-spacing: 0.1px;
  color: #1E293B;
}

.header-kelola-data-mahasiswa-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 60px 0 60px;
}

.search-filter-kelola-data-mahasiswa {
  display: flex;
  align-items: center;
  gap: 40px;
}

.search-bar-kelola-data-mahasiswa {
  width: max-content;
  height: 48px;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #E9EEF6;
}

.search-bar-input-kelola-data-mahasiswa {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  color: #1E293B;
  margin-left: 8px;
  outline: none;
  border: none;
  background: transparent;
  width: 400px;
}

.search-bar-input-kelola-data-mahasiswa::-webkit-search-cancel-button {
  margin-left: 20px;
  cursor: pointer;
}

.search-icon-kelola-data-mahasiswa {
  font-size: 27px;
  color: #1E293B;
}

.search-bar-input-kelola-data-mahasiswa::placeholder {
  color: #E9EEF6;
  font-size: 20px;
}

.filter-dropdown-kelola-data-mahasiswa-wrapper {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
}

.filter-dropdown-kelola-data-mahasiswa {
  width: 180px;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #E9EEF6;
  border-radius: 10px; 
  background: #FFFFFF;
  cursor: pointer;
  padding: 10px 15px;
  font-family: "Poppins", sans-serif;
}

.filter-content-kelola-data-mahasiswa {
  display: flex;
  align-items: center;
  gap: 8px;
}

.filter-icon-kelola-data-mahasiswa {
  font-size: 27px;
  color: #1E293B;
}

.filter-content-kelola-data-mahasiswa span {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #1E293B;
}

.dropdown-icon-kelola-data-mahasiswa {
  font-size: 27px;
  color: #1E293B;
}

.filter-menu-kelola-data-mahasiswa {
  position:absolute;
  top:55px;
  right:0;
  width:180px;
  background:#FFFFFF;
  border:2px solid #E9EEF6;
  border-radius:10px;
  padding:20px 25px 10px 25px;
  z-index:999;
}

.filter-menu-kelola-data-mahasiswa h3{
  margin:0 0 18px;
  text-align:left;
  font-size:20px;
  font-weight:700;
  color:#1E293B;
}

.filter-menu-kelola-data-mahasiswa label{
  display:flex;
  align-items:center;
  gap:10px;
  margin-bottom:10px;
  font-size:16px;
  font-family:"Poppins", sans-serif;
  color:#1E293B;
  cursor:pointer;
}

.filter-menu-kelola-data-mahasiswa input[type="checkbox"]{
  width:19px;
  height:19px;
  cursor:pointer;
}

.tabel-mahasiswa-kelola-data-mahasiswa {
  font-family: "Poppins", sans-serif;
  border-collapse: collapse;
  margin: 25px 60px 10px 60px;
  min-width: 400px;
}

.tabel-mahasiswa-kelola-data-mahasiswa thead tr {
  color: #1E293B;
  text-align: center; 
  font-weight: 700;
  font-size: 20px;
}

.tabel-mahasiswa-kelola-data-mahasiswa th {
  text-align: center;
}

.sort-thead-kelola-data-mahasiswa {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: #1E293B;
}

.sort-icon-kelola-data-mahasiswa {
  font-size: 22px;
}

.tabel-mahasiswa-kelola-data-mahasiswa th,
.tabel-mahasiswa-kelola-data-mahasiswa td {
  padding: 5px 15px;
}

.tabel-mahasiswa-kelola-data-mahasiswa tbody {
  font-size: 16px;
}

.tabel-mahasiswa-kelola-data-mahasiswa tbody tr {
  color: #1E293B;
}

.tabel-mahasiswa-kelola-data-mahasiswa tbody tr:nth-of-type(odd) {
  background-color: rgba(36, 99, 235, 0.22);
}

.kolom-nama-kelola-data-mahasiswa {
  text-align: left;
  width: 60%;
}

.kolom-nim-kelola-data-mahasiswa {
  width: 10%;
}

.kolom-angkatan-kelola-data-mahasiswa {
  width: 15%
}

.kolom-aksi-kelola-data-mahasiswa {
  width: 15%;
  text-align: center;
}

.btn-aksi-wrapper-kelola-data-mahasiswa {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.aksi-btn-kelola-data-mahasiswa {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
}

.aksi-icon-kelola-data-mahasiswa {
  font-size:25px;
}

.edit-btn {
  color: #22C55E;
}


.pagination-wrapper-kelola-data-mahasiswa {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 60px 20px 60px;
}

.page-description-kelola-data-mahasiswa {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  color: #1E293B;
  margin: 0;
}

.pagination-kelola-data-mahasiswa {
  display: flex;
}

.pagination-kelola-data-mahasiswa button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  border: 1px solid #2463EB;
  color: #1E293B;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background: #FFFFFF;
}

.pagination-kelola-data-mahasiswa button:not(:first-child) {
  border-left: none;
}

.pagination-kelola-data-mahasiswa button:first-child {
  border-radius: 7px 0 0 7px;
  width: 45px;
}

.pagination-kelola-data-mahasiswa button:last-child {
  border-radius: 0 7px 7px 0;
  width: 45px;
}

.pagination-kelola-data-mahasiswa button.active {
  background-color: rgba(36, 99, 235, 0.22);
}

.pagination-kelola-data-mahasiswa button:hover:not(.active):not(:disabled) {
  background-color: #E9EEF6;
}

.pagination-kelola-data-mahasiswa button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.previous-icon-kelola-data-mahasiswa,
.next-icon-kelola-data-mahasiswa {
  font-size: 18px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.form-edit-student {
  position: relative;
  width: 450px;
  background: white;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
}

.form-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
  border-bottom: 2px dashed #1E293B;
}

.form-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 22px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: #1E293B;
}

.student-icon {
  color: #1E293B;
  font-size: 30px;
}

.close-form-btn {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 25px;
  color: #1E293B;
}

.form-group-name,
.form-group-nim,
.form-group-angkatan {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 20px 0;
}

.form-group-name label,
.form-group-nim label,
.form-group-angkatan label {
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #1E293B;
}

.form-group-name input,
.form-group-nim input,
.form-group-angkatan input {
  height: 45px;
  width: 100%;
  border: 2px solid #E9EEF6;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #1E293B;
  padding: 0 15px;
  outline: none;
}

.form-group-name input::placeholder,
.form-group-nim input::placeholder,
.form-group-angkatan input::placeholder {
  color: #E9EEF6;
  font-size: 18px;
}

.edit-btn-wrapper-kelola-data-mahasiswa {
  display: flex;
  justify-content: flex-end;
}

.edit-btn-form {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #2463EB;
  color: #FFFFFF;
  border: none;
  border-radius: 10px;
  margin-top: 50px;
  padding: 10px 12px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.edit-btn-form:hover{
  background: #1D4ED8;
}