.page-menu-kelola-data-seminar-layout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.back-btn {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 15px;
  background: none;
  border: none;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #1E293B;
}

.back-icon {
  font-size: 35px;
  color: #1E293B;
}

.navbar-menu-kelola-data-seminar {
  height: 110px;
  background: #FFFFFF;
  display: flex;
  position: relative;
  align-items: center;
  padding: 0 80px;
}

.navbar-menu-kelola-data-seminar h1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  font-size: 40px;
  font-weight: 800;
  letter-spacing: 0.1px;
  color: #1E293B;
}

.header-kelola-data-seminar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-left: 90px;
  margin-right: 90px;
}

.add-seminar-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #2463EB;
  color: #FFFFFF;
  border: none;
  border-radius: 10px;
  padding: 10px 12px;
  font-size: 20px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.add-seminar-btn:hover{
  background: #1D4ED8;
  transform: translateY(-2px);
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
}

.add-icon {
  font-size: 25px;
}

.search-filter {
  display: flex;
  align-items: center;
  gap: 40px;
}

.search-bar {
  width: max-content;
  height: 53px;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #E9EEF6;
}

.search-bar-input {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  color: #1E293B;
  margin-left: 8px;
  outline: none;
  border: none;
  background: transparent;
  width: 400px;
}

.search-bar-input::-webkit-search-cancel-button {
  margin-left: 20px;
  cursor: pointer;
}

.search-icon {
  font-size: 30px;
  color: #1E293B;
}

.search-bar-input::placeholder {
  color: #E9EEF6;
  font-size: 20px;
  font-weight: 500;
}

.filter-dropdown {
  width: 180px;
  height: 53px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 2px solid #E9EEF6;
  border-radius: 10px;
  cursor: pointer;
  box-sizing: border-box;
}

.filter-content {
  display: flex;
  align-items: center;
  gap: 8px;
}

.filter-icon {
  font-size: 30px;
  color: #1E293B;
}

.filter-content span {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #1E293B;
}

.dropdown-icon {
  font-size: 30px;
  color: #1E293B;
}

.table-container {
  margin: 20px 90px;
}

.table-scrollbar {
  overflow-x: auto;
  padding-bottom: 8px;
}

/* Chrome, Edge, Safari */
.table-scrollbar::-webkit-scrollbar {
  height: 10px; /* scrollbar horizontal */
}

.table-scrollbar::-webkit-scrollbar-track {
  background: #E9EEF6; /* warna background track */
  border-radius: 999px;
}

.table-scrollbar::-webkit-scrollbar-thumb {
  background: #2463EB; /* warna thumb */
  border-radius: 999px;
}

.table-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #1D4ED8; /* warna saat hover */
}

.tabel-seminar {
  font-family: "Poppins", sans-serif;
  border-collapse: collapse;
  width: max-content;
}

.tabel-seminar thead tr {
  color: #1E293B;
  text-align: center; 
  font-weight: 700;
  font-size: 22px;
}

.tabel-seminar th {
  text-align: center;
}

.sort-thead {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: #1E293B;
}

.sort-icon {
  font-size: 22px;
}

.tabel-seminar th,
.tabel-seminar td {
  padding: 5px 8px;
}

.th-nama {
  width: 270px;
}

.th-judul {
  width: 500px;
}

.th-jadwal {
  width: 180px;
}

.th-lokasi {
  width: 150px;
}

.th-pembimbing {
  width: 250px;
}

.th-penguji {
  width: 320px;
}

.th-aksi {
  width: 100px;
}

.tabel-seminar tbody {
  font-size: 14px;
}

.tabel-seminar tbody tr {
  color: #1E293B;
}

.tabel-seminar tbody tr:nth-of-type(odd) {
  background-color: rgba(36, 99, 235, 0.22);
}

.kolom-nama-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.kolom-nama-content p {
  margin: 0;
}

.nama-mahasiswa {
  text-align: justify;
  font-weight: 700;
  color: #1E293B;
}

.nim-mahasiswa {
  font-style: italic;
  color: #1E293B;
  font-size: 14px;
}

.kolom-judul {
  text-align: justify;
}

.kolom-jadwal-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.kolom-jadwal-content p {
  margin: 0;
}

.kolom-lokasi-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.kolom-lokasi-content p {
  margin: 0;
}

.lihat-peta-btn {
  display: flex;
  align-items: center;
  gap: 3px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #1E293B;
}

.location-icon {
  font-size: 20px;
  color: #2463EB;
}

.kolom-pembimbing {
  text-align: justify;
}

.kolom-penguji-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.kolom-penguji-content p {
  margin: 0;
}

.btn-aksi-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aksi-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
}

.aksi-icon {
  font-size:25px;
}

.edit-btn {
  color: #22C55E;
}

.delete-btn {
  color: #EF4444;
}

.pagination-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 90px;
}

.page-description {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  color: #1E293B;
  margin: 0;
}

.pagination {
  display: flex;
}

.pagination a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  border: 1px solid #2463EB;
  color: #1E293B;
  width: 35px;
  height: 35px;
}

.pagination a:not(:first-child) {
  border-left: none;
}

.pagination a:first-child {
  border-radius: 7px 0 0 7px;
  width: 45px;
}

.pagination a:last-child {
  border-radius: 0 7px 7px 0;
  width: 45px;
}

.pagination .active {
  background-color: rgba(36, 99, 235, 0.22);
}

.pagination a:hover:not(.active) {
  background-color: #E9EEF6;
}

.previous-icon,
.next-icon {
  font-size: 18px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.form-add-seminar {
  position: relative;
  width: 500px;
  background: white;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
}

.form-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
  border-bottom: 2px dashed #1E293B;
}

.form-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 22px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: #1E293B;
}

.student-icon {
  color: #1E293B;
  font-size: 30px;
}

.close-form-btn {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 25px;
  color: #1E293B;
}

.form-group-search-mahasiswa {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 15px 0;
}

.form-group-judul,
.form-group-jadwal,
.form-group-lokasi,
.form-group-pembimbing,
.form-group-penguji {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 5px 0;
}

.form-group-search-mahasiswa label,
.form-group-judul label,
.form-group-lokasi label,
.form-group-pembimbing label,
.form-group-penguji label {
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #1E293B;
}

.search-bar-form {
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  border-radius: 10px;
  border: 2px solid #E9EEF6;
}

.search-form-input {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #1E293B;
  margin-left: 8px;
  outline: none;
  border: none;
  background: transparent;
  width: 100%;
}

.search-form-input::-webkit-search-cancel-button {
  margin-left: 20px;
  cursor: pointer;
}

.search-form-icon {
  font-size: 20px;
  color: #E9EEF6;
}

.search-form-input::placeholder,
.form-group-judul input::placeholder,
.jadwal-row input::placeholder,
.map-picker-wrapper input::placeholder,
.form-group-pembimbing input::placeholder,
.form-group-penguji input::placeholder {
  color: #E9EEF6;
  font-size: 14px;
}

.form-group-judul input,
.form-group-pembimbing input,
.form-group-penguji input {
  height: 35px;
  width: 100%;
  border: 2px solid #E9EEF6;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #1E293B;
  padding: 0 15px;
  outline: none;
}

.jadwal-title {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #1E293B;
  text-align: left;
}

.jadwal-row {
  display: flex;
  align-items: center;
  gap: 30px;
}

.jadwal-row label {
  display: flex;
  justify-content: flex-start;
  width: 200px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #1E293B;
}

.jadwal-row input {
  padding: 0 15px;
  height: 35px;
  width: 350px;
  border: 2px solid #DCE3EE;
  border-radius: 10px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  outline: none;
  box-sizing: border-box;
}

.map-picker-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}

.map-picker-wrapper input {
  flex: 1;
  height: 35px;
  padding: 0 15px;
  border: 2px solid #DCE3EE;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  outline: none;
}

.map-picker-btn {
  height: 35px;
  padding: 0 15px;
  border: none;
  border-radius: 10px;
  background: #2463EB;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  cursor: pointer;
}

.map-picker-btn:hover {
  background: #1D4ED8;
}

.penguji-input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.add-btn-wrapper {
  display: flex;
  justify-content: flex-end;
}

.add-btn-form {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #2463EB;
  color: #FFFFFF;
  border: none;
  border-radius: 10px;
  margin-top: 30px;
  padding: 10px 12px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.add-btn-form:hover{
  background: #1D4ED8;
}

.add-icon-form {
  font-size: 20px;
}

.modal-delete {
  position: relative;
  width: 450px;
  background: white;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
}

.warning-icon-wrapper {
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FEE2E2;
  border-radius: 100%;
  margin: 0 auto 10px;
  padding-bottom: 6px;
}

.warning-icon {
  font-size: 40px;
  color: #EF4444;
}

.modal-title {
  font-size: 22px;
  font-weight: 700;
  color: #1E293B; 
  text-align: center;
}

.modal-description {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 16px;
  color: #1E293B;
  margin: 10px 0;
}

.btn-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 60px 0 60px;
}

.modal-batal-btn {
  border: none;
  border-radius: 10px;
  background: #E9EEF6;
  width: 100px;
  height: 35px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #1E293B;
}

.modal-batal-btn:hover {
  background: #D8E2F0;
}

.modal-delete-btn {
  border: none;
  border-radius: 10px;
  background: #EF4444;
  width: 100px;
  height: 35px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
}

.modal-delete-btn:hover {
  background: #DC2626;
}