.page-menu-kelola-data-seminar-layout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.back-btn-kelola-data-seminar {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 15px;
  background: none;
  border: none;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #1E293B;
}

.back-icon-kelola-data-seminar {
  font-size: 35px;
  color: #1E293B;
}

.navbar-menu-kelola-data-seminar {
  height: 110px;
  background: #FFFFFF;
  display: flex;
  position: relative;
  align-items: center;
  padding: 0 60px;
}

.navbar-menu-kelola-data-seminar h1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  font-size: 40px;
  font-weight: 800;
  letter-spacing: 0.1px;
  color: #1E293B;
}

.header-kelola-data-seminar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 60px 0 60px;
}

.add-seminar-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #2463EB;
  color: #FFFFFF;
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  height: 48px;
}

.add-seminar-btn:hover{
  background: #1D4ED8;
}

.add-seminar-icon {
  font-size: 27px;
}

.search-filter-kelola-data-seminar {
  display: flex;
  align-items: center;
  gap: 40px;
}

.search-bar-kelola-data-seminar {
  width: max-content;
  height: 48px;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #E9EEF6;
}

.search-bar-input-kelola-data-seminar {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  color: #1E293B;
  margin-left: 8px;
  outline: none;
  border: none;
  background: transparent;
  width: 400px;
}

.search-bar-input-kelola-data-seminar::-webkit-search-cancel-button {
  margin-left: 20px;
  cursor: pointer;
}

.search-bar-input-kelola-data-seminar::placeholder {
  color: #E9EEF6;
  font-size: 20px;
}

.search-seminar-icon {
  font-size: 27px;
  color: #1E293B;
}

.filter-dropdown-kelola-data-seminar-wrapper {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
}

.filter-dropdown-kelola-data-seminar {
  width: 180px;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #E9EEF6;
  border-radius: 10px; 
  background: #FFFFFF;
  cursor: pointer;
  padding: 10px 15px;
  font-family: "Poppins", sans-serif;
}

.filter-content-kelola-data-seminar {
  display: flex;
  align-items: center;
  gap: 8px;
}

.filter-seminar-icon {
  font-size: 27px;
  color: #1E293B;
}

.filter-content-kelola-data-seminar span {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #1E293B;
}

.dropdown-icon-kelola-data-seminar {
  font-size: 27px;
  color: #1E293B;
}

.filter-menu-kelola-data-seminar {
  position:absolute;
  top:55px;
  right:0;
  width:max-content;
  gap: 20px;
  display: flex;
  justify-content: space-between;
  padding:20px 25px 10px 25px;
  background:#FFFFFF;
  border:2px solid #E9EEF6;
  border-radius:10px;
  z-index:999;
  text-align: left;
}

.react-datepicker-popper {
  z-index: 9999 !important;
}

.react-datepicker {
  z-index: 9999 !important;
}

.filter-lokasi-seminar {
  width: 200px;
}

.filter-lokasi-seminar h3,
.filter-tanggal-seminar h3 {
  margin:0 0 18px;
  font-size:20px;
  font-weight:700;
  color:#1E293B;
}

.filter-lokasi-seminar label,
.filter-tanggal-seminar label {
  display:flex;
  align-items:flex-start;
  gap:10px;
  margin-bottom:10px;
  font-size:16px;
  font-family:"Poppins", sans-serif;
  color:#1E293B;
  cursor:pointer;
}

.filter-menu-kelola-data-seminar input[type="checkbox"]{
  width:19px;
  height:19px;
  cursor:pointer;
  flex-shrink: 0;
  margin-top: 3px;
}

.judul-rentang-tanggal-seminar {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #1E293B;
}

.seminar-date-input {
  display:flex;
  align-items:center;
  border:2px solid #E9EEF6;
  border-radius:5px;
  margin-bottom:10px; 
}

.seminar-date-input span {
  width: 100px;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 700;
  color: #1E293B;
}

.datepicker-filter-seminar {
  border: none;
  outline: none;
  font-size: 16px;
  color: #1E293B;
  width: 100px;
}

.datepicker-filter-seminar::placeholder {
  color: #E9EEF6;
}

.seminar-date-input input::-webkit-calendar-picker-indicator{
  padding:0;
}

.table-container-kelola-data-seminar {
  margin: 25px 60px 10px 60px;
}

.loading-state-kelola-data-seminar,
.empty-state-kelola-data-seminar {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;
  font-style: italic;
  margin: 0;
}

.table-scrollbar {
  overflow-x: auto;
  padding-bottom: 8px;
}

/* Chrome, Edge, Safari */
.table-scrollbar::-webkit-scrollbar {
  height: 10px; /* scrollbar horizontal */
}

.table-scrollbar::-webkit-scrollbar-track {
  background: #E9EEF6; /* warna background track */
  border-radius: 999px;
}

.table-scrollbar::-webkit-scrollbar-thumb {
  background: #2463EB; /* warna thumb */
  border-radius: 999px;
}

.table-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #1D4ED8; /* warna saat hover */
}

.tabel-seminar {
  font-family: "Poppins", sans-serif;
  border-collapse: collapse;
  width: max-content;
}

.tabel-seminar thead tr {
  color: #1E293B;
  text-align: center; 
  font-weight: 700;
  font-size: 22px;
}

.tabel-seminar th {
  text-align: center;
}

.sort-thead-kelola-data-seminar {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: #1E293B;
}

.sort-seminar-icon {
  font-size: 22px;
}

.tabel-seminar th,
.tabel-seminar td {
  padding: 5px 8px;
}

.th-nama {
  width: 270px;
}

.th-judul {
  width: 500px;
}

.th-jadwal {
  width: 180px;
}

.th-lokasi {
  width: 150px;
}

.th-pembimbing {
  width: 250px;
}

.th-penguji {
  width: 320px;
}

.th-aksi {
  width: 100px;
}

.tabel-seminar tbody {
  font-size: 14px;
}

.tabel-seminar tbody tr {
  color: #1E293B;
}

.tabel-seminar tbody tr:nth-of-type(odd) {
  background-color: rgba(36, 99, 235, 0.22);
}

.kolom-nama-content-kelola-data-seminar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.kolom-nama-content-kelola-data-seminar p {
  margin: 0;
}

.nama-mahasiswa-kelola-data-seminar {
  text-align: justify;
  font-weight: 700;
  color: #1E293B;
}

.nim-mahasiswa-kelola-data-seminar {
  font-style: italic;
  color: #1E293B;
  font-size: 14px;
}

.kolom-judul {
  text-align: justify;
}

.kolom-jadwal-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.kolom-jadwal-content p {
  margin: 0;
}

.kolom-lokasi-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.kolom-lokasi-content p {
  margin: 0;
}

.lihat-peta-btn {
  display: flex;
  align-items: center;
  gap: 3px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #1E293B;
}

.location-icon {
  font-size: 20px;
  color: #2463EB;
}

.kolom-pembimbing {
  text-align: justify;
}

.kolom-penguji-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.kolom-penguji-content p {
  margin: 0;
}

.btn-aksi-wrapper-kelola-data-seminar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.aksi-btn-kelola-data-seminar {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
}

.aksi-icon-kelola-data-seminar {
  font-size:25px;
}

.edit-btn {
  color: #22C55E;
}

.delete-btn {
  color: #EF4444;
}

.pagination-wrapper-kelola-data-seminar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 60px 20px 60px;
}

.page-description-kelola-data-seminar {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  color: #1E293B;
  margin: 0;
}

.pagination-kelola-data-seminar {
  display: flex;
}

.pagination-kelola-data-seminar button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  border: 1px solid #2463EB;
  color: #1E293B;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background: #FFFFFF;
}

.pagination-kelola-data-seminar button:not(:first-child) {
  border-left: none;
}

.pagination-kelola-data-seminar button:first-child {
  border-radius: 7px 0 0 7px;
  width: 45px;
}

.pagination-kelola-data-seminar button:last-child {
  border-radius: 0 7px 7px 0;
  width: 45px;
}

.pagination-kelola-data-seminar button.active {
  background-color: rgba(36, 99, 235, 0.22);
}

.pagination-kelola-data-seminar button:hover:not(.active):not(:disabled) {
  background-color: #E9EEF6;
}

.pagination-kelola-data-seminar button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.previous-icon-kelola-data-seminar,
.next-icon-kelola-data-seminar {
  font-size: 18px;
}

.form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.form-add-seminar {
  position: relative;
  width: 500px;
  max-width: 95vw;
  max-height: 90vh;
  overflow-y: auto;
  background: white;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
}

.form-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
  border-bottom: 2px dashed #1E293B;
}

.form-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 22px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: #1E293B;
}

.student-icon {
  color: #1E293B;
  font-size: 30px;
}

.close-form-btn {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 25px;
  color: #1E293B;
}

.add-seminar-input-wrapper {
  display:flex;
  flex-direction:column;
}

.form-group-search-mahasiswa {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 15px 0;
}

.form-group-judul,
.form-group-jadwal,
.form-group-lokasi,
.form-group-pembimbing,
.form-group-penguji {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 5px 0;
}

.form-group-search-mahasiswa label,
.form-group-judul label,
.form-group-lokasi label,
.form-group-pembimbing label,
.form-group-penguji label {
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #1E293B;
}

.search-bar-form {
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  border-radius: 10px;
  border: 2px solid #E9EEF6;
}

.search-form-input {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #1E293B;
  margin-left: 8px;
  outline: none;
  border: none;
  background: transparent;
  width: 100%;
}

.search-form-input::-webkit-search-cancel-button {
  margin-left: 20px;
  cursor: pointer;
}

.search-form-icon {
  font-size: 20px;
  color: #E9EEF6;
}

.search-form-input::placeholder,
.form-group-judul input::placeholder,
.jadwal-row input::placeholder,
.map-picker-wrapper input::placeholder,
.form-group-pembimbing input::placeholder,
.form-group-penguji input::placeholder {
  color: #E9EEF6;
  font-size: 14px;
}

.form-search-mahasiswa-wrapper{
  position: relative;
  width: 100%;
}

.dropdown-mahasiswa-list {
  position:absolute;
  top:40px;
  left: 0;
  width:100%;
  background:#FFFFFF;
  border:2px solid #E9EEF6;
  border-radius:10px;
  padding:10px 25px 0 25px;
  z-index:999;
  max-height: 200px;
  overflow-y: auto;
}

.item-mahasiswa {
  font-size: 14px;
  text-align: left;
  cursor: pointer;
}

.item-mahasiswa p {
  margin-bottom: 10px;
  font-style: italic;
}

.form-group-judul input,
.form-group-pembimbing input,
.form-group-penguji input {
  height: 35px;
  width: 100%;
  border: 2px solid #E9EEF6;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #1E293B;
  padding: 0 15px;
  outline: none;
}

.jadwal-title {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #1E293B;
  text-align: left;
}

.jadwal-row {
  display: flex;
  align-items: center;
  gap: 30px;
}

.jadwal-row label {
  display: flex;
  justify-content: flex-start;
  width: 200px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #1E293B;
}

.jadwal-input-wrapper{
  display:flex;
  flex-direction:column;
  width:300px;
}

.datepicker-input-seminar {
  padding: 0 15px;
  height: 35px;
  width: 300px;
  border: 2px solid #E9EEF6;
  border-radius: 10px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  outline: none;
  box-sizing: border-box;
}

.custom-select-wrapper {
  position: relative;
  flex: 1;
}

.custom-select-lokasi {
  width: 100%;
  height: 35px;
  padding: 0 40px 0 15px;
  border: 2px solid #E9EEF6;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: white;
  cursor: pointer;
  color: #1E293B;
}

.dropdown-icon-lokasi-seminar {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #64748B;
  pointer-events: none;
}

.lihat-peta-btn-wrapper {
  display: flex;
  align-items: flex-start;
}

.map-picker-wrapper {
  justify-content: space-between;
  gap: 20px;
  height: 35px;
  white-space: nowrap;
}

.map-picker-wrapper select {
  flex: 1;
  height: 35px;
  padding: 0 15px;
  border: 2px solid #E9EEF6;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  outline: none;
}

.map-picker-btn {
  height: 35px;
  padding: 0 15px;
  border: none;
  border-radius: 10px;
  background: #2463EB;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  cursor: pointer;
}

.map-picker-btn:hover:not(:disabled) {
  background: #1D4ED8;
}

.map-picker-btn:disabled {
  background-color: #D9D9D9;
  color: #8A8A8A;
  cursor: not-allowed;
  opacity: 0.8;
}

.penguji-input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.error-text-seminar {
  color:#dc3545;
  font-size:13px;
  margin-top:4px;
  margin-left: 15px;
  font-style:italic;
  text-align:right;
}

.add-btn-wrapper {
  display: flex;
  justify-content: flex-end;
}

.add-btn-form {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #2463EB;
  color: #FFFFFF;
  border: none;
  border-radius: 10px;
  margin-top: 30px;
  padding: 10px 12px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.add-btn-form:hover{
  background: #1D4ED8;
}

.add-icon-form {
  font-size: 20px;
}

.modal-delete {
  position: relative;
  width: 450px;
  background: white;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
}

.warning-icon-wrapper {
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FEE2E2;
  border-radius: 100%;
  margin: 0 auto 10px;
  padding-bottom: 6px;
}

.warning-icon {
  font-size: 40px;
  color: #EF4444;
}

.modal-title {
  font-size: 22px;
  font-weight: 700;
  color: #1E293B; 
  text-align: center;
}

.modal-description {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 16px;
  color: #1E293B;
  margin: 5px 0;
}

.btn-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 60px 0 60px;
}

.modal-batal-btn {
  border: none;
  border-radius: 10px;
  background: #E9EEF6;
  width: 100px;
  height: 35px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #1E293B;
}

.modal-batal-btn:hover {
  background: #D8E2F0;
}

.modal-delete-btn {
  border: none;
  border-radius: 10px;
  background: #EF4444;
  width: 100px;
  height: 35px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
}

.modal-delete-btn:hover {
  background: #DC2626;
}