.page-menu-laporan-presensi-layout {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.back-btn {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 15px;
  background: none;
  border: none;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #1E293B;
}

.back-icon {
  font-size: 35px;
  color: #1E293B;
}

.navbar-menu-laporan-presensi {
  height: 110px;
  background: #FFFFFF;
  display: flex;
  position: relative;
  align-items: center;
  padding: 0 80px;
}

.navbar-menu-laporan-presensi h1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  font-size: 40px;
  font-weight: 800;
  letter-spacing: 0.1px;
  color: #1E293B;
}

.header-laporan-presensi-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-left: 90px;
  margin-right: 90px;
}

.export-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #2463EB;
  color: #FFFFFF;
  border: none;
  border-radius: 10px;
  padding: 10px 12px;
  font-size: 20px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.export-btn:hover{
  background: #1D4ED8;
  transform: translateY(-2px);
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
}

.export-icon {
    font-size: 30px;
}

.search-filter {
  display: flex;
  align-items: center;
  gap: 40px;
}

.search-bar {
  width: max-content;
  height: 53px;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #E9EEF6;
  transition: background 0.25s;
  box-sizing: border-box;
}

.search-bar-input {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  color: #1E293B;
  margin-left: 8px;
  outline: none;
  border: none;
  background: transparent;
  width: 400px;
}

.search-bar-input::-webkit-search-cancel-button {
  margin-left: 20px;
  cursor: pointer;
}

.search-icon {
  font-size: 30px;
  color: #1E293B;
}

.search-bar-input::placeholder {
  color: #E9EEF6;
  font-size: 20px;
  font-weight: 500;
}

.filter-dropdown {
  width: 180px;
  height: 53px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 2px solid #E9EEF6;
  border-radius: 10px;
  cursor: pointer;
  box-sizing: border-box;
}

.filter-content {
  display: flex;
  align-items: center;
  gap: 8px;
}

.filter-icon {
  font-size: 30px;
  color: #1E293B;
}

.filter-content span {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #1E293B;
}

.dropdown-icon {
  font-size: 30px;
  color: #1E293B;
}

.tabel-laporan-presensi {
  font-family: "Poppins", sans-serif;
  border-collapse: collapse;
  margin: 10px 90px;
  min-width: 400px;
}

.tabel-laporan-presensi thead tr {
  color: #1E293B;
  text-align: center; 
  font-weight: 700;
  font-size: 20px;
}

.tabel-laporan-presensi th {
    text-align: center;
}

.sort-thead {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: #1E293B;
}

.sort-icon {
  font-size: 22px;
}

.tabel-laporan-presensi th,
.tabel-laporan-presensi td {
  padding: 5px 15px;
}

.tabel-laporan-presensi tbody {
  font-size: 14px;
}

.tabel-laporan-presensi tbody tr {
  color: #1E293B;
}

.tabel-laporan-presensi tbody tr:nth-of-type(odd) {
  background-color: rgba(36, 99, 235, 0.22);
}

.kolom-nama {
  text-align: left;
  width: 45%;
}

.kolom-nim {
  width: 10%;
}

.kolom-angkatan,
.kolom-kehadiran,
.kolom-status {
  width: 15%;
}

.status-presensi {
  display: inline-block;
  padding: 5px 12px;
  border: none;
  border-radius: 7px;
  font-weight: 600;
  width: 100px;
  background-color: #DCFCE7;
}

.pagination-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 90px;
}

.page-description {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  color: #1E293B;
  margin: 0;
}

.pagination {
  display: flex;
}

.pagination a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  border: 1px solid #2463EB;
  color: #1E293B;
  width: 35px;
  height: 35px;
}

.pagination a:not(:first-child) {
  border-left: none;
}

.pagination a:first-child {
  border-radius: 7px 0 0 7px;
  width: 45px;
}

.pagination a:last-child {
  border-radius: 0 7px 7px 0;
  width: 45px;
}

.pagination .active {
  background-color: rgba(36, 99, 235, 0.22);
}

.pagination a:hover:not(.active) {
  background-color: #E9EEF6;
}

.previous-icon,
.next-icon {
  font-size: 18px;
}