.page-menu-laporan-presensi-layout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.back-btn-laporan-presensi {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 15px;
  background: none;
  border: none;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #1E293B;
}

.back-icon-laporan-presensi {
  font-size: 35px;
  color: #1E293B;
}

.navbar-menu-laporan-presensi {
  height: 110px;
  background: #FFFFFF;
  display: flex;
  position: relative;
  align-items: center;
  padding: 0 60px;
}

.navbar-menu-laporan-presensi h1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  font-size: 40px;
  font-weight: 800;
  letter-spacing: 0.1px;
  color: #1E293B;
}

.header-laporan-presensi-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 60px 0 60px;
}

.export-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #2463EB;
  color: #FFFFFF;
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  height: 48px;
}

.export-btn:hover{
  background: #1D4ED8;
}

.export-icon {
  font-size: 27px;
}

.search-filter-laporan-presensi {
  display: flex;
  align-items: center;
  gap: 40px;
}

.search-bar-laporan-presensi {
  width: max-content;
  height: 48px;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #E9EEF6;
  transition: background 0.25s;
  box-sizing: border-box;
}

.search-bar-input-laporan-presensi {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  color: #1E293B;
  margin-left: 8px;
  outline: none;
  border: none;
  background: transparent;
  width: 400px;
}

.search-bar-input-laporan-presensi::-webkit-search-cancel-button {
  margin-left: 20px;
  cursor: pointer;
}

.search-icon-laporan-presensi {
  font-size: 27px;
  color: #1E293B;
}

.search-bar-input-laporan-presensi::placeholder {
  color: #E9EEF6;
  font-size: 20px;
}

.filter-dropdown-laporan-presensi-wrapper {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
}

.filter-dropdown-laporan-presensi {
  width: 180px;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 2px solid #E9EEF6;
  background: #FFFFFF;
  border-radius: 10px;
  cursor: pointer;
  box-sizing: border-box;
}

.filter-content-laporan-presensi {
  display: flex;
  align-items: center;
  gap: 8px;
}

.filter-icon-laporan-presensi {
  font-size: 27px;
  color: #1E293B;
}

.filter-content-laporan-presensi span {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #1E293B;
}

.dropdown-icon-laporan-presensi {
  font-size: 27px;
  color: #1E293B;
}

.filter-menu-laporan-presensi {
  position:absolute;
  top:55px;
  right:0;
  width:max-content;
  display: flex;
  justify-content: space-between;
  padding:20px 25px 10px 25px;
  background:#FFFFFF;
  border:2px solid #E9EEF6;
  border-radius:10px;
  z-index:999;
  text-align: left;
}

.filter-angkatan-laporan-presensi {
  display: flex;
  flex-direction: column;
  width: 150px;
}

.filter-status-laporan-presensi {
  display: flex;
  flex-direction: column;
}

.filter-angkatan-laporan-presensi h3,
.filter-status-laporan-presensi h3 {
  margin:0 0 18px;
  font-size:20px;
  font-weight:700;
  color:#1E293B;
}

.filter-angkatan-laporan-presensi label,
.filter-status-laporan-presensi label {
  display:flex;
  align-items:flex-start;
  gap:10px;
  margin-bottom:10px;
  font-size:16px;
  font-family:"Poppins", sans-serif;
  color:#1E293B;
  cursor:pointer;
}

.filter-menu-laporan-presensi input[type="checkbox"]{
  width:19px;
  height:19px;
  cursor:pointer;
  flex-shrink: 0;
  margin-top: 3px;
}

.tabel-laporan-presensi {
  font-family: "Poppins", sans-serif;
  border-collapse: collapse;
  margin: 10px 60px;
  min-width: 400px;
}

.tabel-laporan-presensi thead tr {
  color: #1E293B;
  text-align: center; 
  font-weight: 700;
  font-size: 20px;
}

.tabel-laporan-presensi th {
  text-align: center;
}

.sort-thead-laporan-presensi {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: #1E293B;
}

.sort-icon-laporan-presensi {
  font-size: 22px;
}

.tabel-laporan-presensi th,
.tabel-laporan-presensi td {
  padding: 5px 15px;
}

.tabel-laporan-presensi tbody {
  font-size: 14px;
}

.tabel-laporan-presensi tbody tr {
  color: #1E293B;
}

.tabel-laporan-presensi tbody tr:nth-of-type(odd) {
  background-color: rgba(36, 99, 235, 0.22);
}

.kolom-nama-laporan-presensi {
  text-align: left;
  width: 40%;
}

.kolom-nim-laporan-presensi {
  width: 10%;
}

.kolom-angkatan-laporan-presensi,
.kolom-kehadiran-laporan-presensi {
  width: 15%;
}

.kolom-status-laporan-presensi {
  width: 20%;
}

.status-presensi-laporan-presensi {
  display: inline-block;
  padding: 5px 12px;
  border: none;
  border-radius: 7px;
  font-weight: 600;
  width: max-content;
}

.status-presensi-laporan-presensi.memenuhi {
  background-color: #DCFCE7;
}

.status-presensi-laporan-presensi.belum-memenuhi {
  background-color: #FEE2E2;
}

.pagination-wrapper-laporan-presensi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 60px;
}

.page-description-laporan-presensi {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  color: #1E293B;
  margin: 0;
}

.pagination-laporan-presensi {
  display: flex;
}

.pagination-laporan-presensi button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  border: 1px solid #2463EB;
  background: #FFFFFF;
  color: #1E293B;
  width: 35px;
  height: 35px;
}

.pagination-laporan-presensi button:not(:first-child) {
  border-left: none;
}

.pagination-laporan-presensi button:first-child {
  border-radius: 7px 0 0 7px;
  width: 45px;
}

.pagination-laporan-presensi button:last-child {
  border-radius: 0 7px 7px 0;
  width: 45px;
}

.pagination-laporan-presensi button.active {
  background-color: rgba(36, 99, 235, 0.22);
}

.pagination-laporan-presensi button:hover:not(.active):not(:disabled) {
  background-color: #E9EEF6;
}

.pagination-laporan-presensi button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.previous-icon-laporan-presensi,
.next-icon-laporan-presensi {
  font-size: 18px;
}