.page-presensi-berhasil-layout {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.back-btn-presensi-berhasil {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 15px;
  background: none;
  border: none;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #1E293B;
}

.back-btn-presensi-berhasil-icon {
  font-size: 35px;
  color: #1E293B;
}

.navbar-presensi-berhasil {
  height: 110px;
  background: #FFFFFF;
  display: flex;
  position: relative;
  align-items: center;
  padding: 0 60px;
  /* box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2); */
}

.navbar-presensi-berhasil h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 0.1px;
    color: #1E293B;
}

.presensi-berhasil-container {
  background: #FFFFFF;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;     
  text-align: center;
  padding-top:80px;
}

.success-icon {
  font-size: 200px;
  color: #16A34A;
  margin-left: 60px;
  margin-right: 60px;
}

.presensi-berhasil-content {
  width: 100%;
  padding: 0 60px;
  text-align: center;
  box-sizing: border-box;
}

.presensi-berhasil-content h1 {
  font-size: 40px;
  font-weight: 800;
  letter-spacing: 0.1px;
  color: #16A34A;
  margin-top: 20px;
}

.presensi-berhasil-content p {
  font-family: 'Poppins', sans-serif;
  color: #4B5563;
  font-size: 18px;
  font-style:italic;
  margin-top: 10px;
  margin-bottom: 30px;
}

.lihat-riwayat-presensi-btn {
    background: #2463EB;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    border: none;
    border-radius: 10px;
    padding: 10px 50px;
}

.lihat-riwayat-presensi-btn:hover {
    background: #1D4ED8;
}